.main_container{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 700px;
  border-radius: 5px;
  border-style: solid;
  border-color: gray;
  border-width: .5px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;

}::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}


.top_container{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btm_container{
height: 500px;
width: 100%;
display: flex;
}


.nav_btm{
display: flex;
justify-content: center;
margin-top: 20px;
height: 40px;
}

.table_content{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: large;
  border-radius: 6px;
}

table{
  table-layout: auto;
}

tr{
  height: 40px;
}

td{
  word-wrap:break-word;
  max-width: 40px;
  padding-bottom: 20px;
}

th{
  border: lightgrey;
  border-radius: 7px;
  border-style:solid;
  border-width: .5px;
}


#Feedbacklist{
  width: 100%
}

.button_done {
  border-radius: 4px;
  background-color: #2CD65E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.button_done span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_done span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_done:hover span {
  padding-right: 25px;
}

.button_done:hover span:after {
  opacity: 1;
  right: 0;
}

.button_empty {
  border-radius: 4px;
  background-color: #D42121;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.button_empty span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_empty span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_empty:hover span {
  padding-right: 25px;
}

.button_empty:hover span:after {
  opacity: 1;
  right: 0;
}
.pic{
  margin-left:auto;
  margin-right:auto;
  height: 500px;
  width: 400px;
  border-color: lightgray;
  border-style: solid;
  border-width: .5px;
  border-radius: 5px;
  justify-content: 5px;
}

img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.pic_container{
  width: 40%;
  user-select: none;  
}

.info_container{
  width: 60%;
}

.info_grid{
  height: 500px;
  width: 60%;
  display:grid;
  row-gap: 15px;
  grid-template-columns: 700px ;
  grid-template-rows: 60px 60px 295px 40px;
}

.info_grid_item_1{
  grid-column: 1;
  grid-row: 1/2;
  border-style: solid;
  border-color: gray;
  border-radius: 7px;
  padding: 10px; 
  border-width: .7px;
}

.info_grid_item_2{
  grid-column: 1;
  grid-row: 2/3;
  border-style: solid;
  border-color: gray;
  border-radius: 7px;
  padding: 10px;
  border-width: .7px;
}

.info_grid_item_3{
  grid-column: 1;
  grid-row: 3/4;
  border-style: solid;
  border-color: gray;
  border-radius: 7px;
  padding: 10px;
  border-width: .7px;
}

.info_grid_item_4{
  grid-column: 1;
  grid-row: 4/5;
  border-style: solid;
  border-color: gray;
  border-radius: 7px;
  border-width: .7px;
  padding: auto;
}

.feedbackbox{
  width: 100%;
  height: 250px;
  resize: none;
  text-align: justify
}

.wordlimit{
  width: 100%px;
  height: 25px;
  text-align: right;
}



.rate {
  float: left;
  height: 40px;
  padding: 0 10px;
  margin-top: -5px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; 
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.button {
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 80px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
}

.button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
