.main_container{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    height: 700px;
    border-radius: 7px;
    border-style: solid;
    border-color: black;
    color: black;
    border-width: .5px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

}::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}


.top_container{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btm_container{
  height: 475px;
  width: 100%;
}


.nav_btm{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
}

.content{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: large;
    border-radius: 6px;
}

.table_content{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: large;
  border-radius: 6px;
}

table{
  table-layout: auto;
}

tr{
  height: 40px;
}

td{
  word-wrap:break-word;
  max-width: 40px;
  padding-bottom: 20px;
}

th{
  border: lightgrey;
  border-radius: 7px;
  border-style:solid;
  border-width: .5px;
  
}



#Feedbacklist{
    width: 100%
}

.button_done {
    border-radius: 4px;
    background-color: #2CD65E;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button_done span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button_done span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button_done:hover span {
    padding-right: 25px;
  }
  
  .button_done:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .button_empty {
      border-radius: 4px;
      background-color: #D42121;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 12px;
      padding: 5px;
      width: 100px;
      transition: all 0.5s;
      cursor: pointer;
    }
    
    .button_empty span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button_empty span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button_empty:hover span {
      padding-right: 25px;
    }
    
    .button_empty:hover span:after {
      opacity: 1;
      right: 0;
    }
