@import 'master.css';
@import 'admin.css';

.mainBox {
    display: grid;
    grid-template-columns: auto ;
    gap: 1.5vw;
    padding:15px;
    margin: 10px 10px 0px 10px;
}

.subBox {
    display:flex;
    background-color: bisque;
    min-height: 20vw;
    border: solid;
    border-radius: 7px;
    border-width: .5px;
    margin-left: 15vh;
    margin-right:15vh;

}

.placer::after{
    content: " : ";
}

.box {
    margin: 5px;
    border: solid;
    border-width: .5px;
    border-radius: 7px;
    height: 8vh;
    width: 25vw;
}

.subBoxBtn {
    background-color: bisque;
    height: 10vw;
    border: solid;
    border-radius: 7px;
    border-width: .5px;
}

.articleButton {
    text-align: right;
    margin: 10px 10px 0 0;
 }

 .addButton {
    margin-right:15px;
    width:8vw;
    height:55px;
}