/*header*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --orange:deepskyblue;
    --black:#0c083b;
    --light-color:rgb(85, 84, 84);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 61%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body{
    background:#fff;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--orange);
    color:#fff;

    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--orange);
    color:#fff;
}

/* Header */
.header{
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top:0; left:0; right: 0;
  z-index: 980;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:1.2rem 9%;
  padding-right: 2%;
  background:#fff;
  box-shadow: var(--box-shadow);
}

.header a {
  text-decoration: none;
}

.header .logo{
  font-size: 25px;
  font-weight: bolder;
  color:var(--black);
}

.header .logo i{
  color:var(--orange);
}

.header .navbar {
  width: 50%;

}
.header .navbar a{

  font-size: 18px;
  margin:0 2.2rem;
  color:var(--black);
}

.header .navbar a:hover{
  color:var(--orange);
}
.header .icons {
  width: 100%;
}
.header .icons div{
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: .5rem;
  background: #eee;
  color:var(--black);
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin-right: 10%;
}

.header .icons div:hover{
  background: var(--orange);
  color:#fff;
}

.cart {
  padding: 0;
  margin: auto 0;
  border: none;
  width: 30%;
  margin-right: 2rem;
  display: flex;
}

#cart-btn {
  width: 100%;
  margin: auto 0;
  margin-bottom: 0;
  line-height: 40px;
  border-radius: .5rem;
  color:var(--black);
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  display:inline-flexbox;
  padding: 0px 5px;
}

.header .cart-btn:hover {
  background: white;
  padding: 0px 5px;
  border-radius: 2rem;
}


#cartItemQuantity {
  width: 30%;
  height: 15px;
  background: red;
  color: white;
  border: none;
  margin-top: 5px;
  margin-right: 0;
  vertical-align: top;
  font-size: 10px;
  padding: 0 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: .5rem;
  display: none;

}

#loginBox {
  width: 20%;
  display: inline-flex;
  padding: 0;
  margin: 0 0;
}

#loginDetail {
  background: none;
  border: none;
  display: inline-flex;
  cursor: pointer;
  margin: auto 0;
  vertical-align: baseline;
}

#loginDetail:hover {
  border-radius: 1rem;
  background: #eee;
}

#profilePic {
  padding: 0;
  margin: 0;
  display: inline-flex;
  width: 30px; 
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 1rem solid rgba(0, 0, 0, 0.3);
}



#displayName {
  width: 100%;
  text-align: left;
  margin: auto 0.5rem;
  margin-right: 65px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

#dropDown {
  position: relative;
  display: flexbox;
  margin: auto 0;
}

#dropDownOption {
  padding: 0.5rem 0;
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropDownOption a {
  color: black;
  display: block;
  padding: 0.5rem 0;
}

#dropDownOption a:hover {
  background: #ddd;
}








/* END OF HEADER */










.main_container{
  display:inline-block;
  margin: 100px 0px 0px 216px;
  max-width: 80%;
  max-height: 750px;
  border:.5px lightgray solid;
  border-radius: 5px;
  min-height: 750px;
  min-width: 80%;
}

.cart_content{
  display: flex;
  height: 200px;
  width: 100%;
  border: .7px solid grey;
  border-radius: 5px;
  margin-bottom: 20px;
}

.cart_pic_container{
  width: 272px;
}


.cart_pic{
  display: flex;
  height: 160px;
  width: 230px;
  margin: 17px 25px 17px 17px;
  justify-content: 5px;
}

#cart_pic{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border: .5px solid lightgray;
}

.cart_info_container{
  width: 1000px;
}

.cart_name{
  display: flex;
  margin: 25px 0px 10px 0px;
  width: 800px;
  height: 40px;
}

.cart_info{
  margin: 10px 0px 0px 0px;
}

.cart_duration_container{
  display: flex;
  margin: 60px 0px 10px 0px;
}

.cart_duration_container .duration{
  width:50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 5px;
}

.price{
  width:130px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  float: left;
  font-size: 23px;
}

.quantity{
  width:50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  float: right;
  font-size: 23px;
}

.price_quantity{
  display: flex;
  justify-content: space-between;
}


.cart_total{
  width: 200px;
  text-align: right;
  text-align: bottom;
  display: block;
  align-content: space-between;
}

.remove {
  width: 110px;
  height: 25px;
  margin-top: 95px;
  float: right;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff2b24;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
}

.remove:hover {background-color: #E1332D}

.remove:active {
  background-color: #E1332D;
  box-shadow: 0 .5px #666;
  transform: translateY(4px);
}

.sum_box_container{
  border: .5px solid gray;
  border-radius: 7px;
  width: 457px;
  float: right;
  margin-right: 165px;
  margin-top: 20px;
  height: 320px;
}


.sum_box_container h2{
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
  text-align: center;
}


.sum_box_sub {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  border-radius: 4px;
  background-color: #113BFF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 445px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.sum_box_pic{
  height: auto;
  width: auto;
  margin-left:2px ;
  margin-top: 10px;
}

.subtotal{
  height: 35px;
  width: 120px;
  font-size: 20px;
  border: .5px solid gray;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
}